.popup__error-message {
    margin: 0;
    color: #F00;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
    transition: .3s;
    position: absolute;
    left: 0;
    top: 29px;
}