.element__text {
    margin: 0;
    max-width: 200px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: stretch;
}