.popup__form-item {
    margin: 0;
    margin-bottom: 33px;
    width: 100%;
    padding: 0 0 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

