.popup__submit-button {
    margin: 18px 0 0;
    width: 100%;
    min-height: 50px;
    background-color: #000000;
    border: 0;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
}

.popup__submit-button:hover {
    background: #000000;
    opacity: 0.8;
}

@media screen and (max-width: 400px) {
    .popup__submit-button {
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
        height: 44px;
    }
}