.header__content {
    margin: 0;
    width: 75%;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    gap: 24px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    text-align: right;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 950px) {
    .header__content {
        visibility: hidden;
        height: 0;
        transition: visibility .4s linear, max-height 4s linear, height .4s linear, padding .4s linear;
        align-self: center;
        flex-direction: column;
        text-align: center;
        border-bottom: 1px solid rgba(84, 84, 84, .7);
        width: 100%;
        margin: 0;
        padding: 0;
    }
}